a:hover{
	text-decoration: none;
}

p {
	text-align: justify;
}

.cover {
	background-color: #EEE;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 200px;
	background-size: cover;
}

.banner {
	min-height: 300px;
}


/* -- CAROUSEL -- */

.carousel-caption-fix {
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;

	/*Transparent*/
	/*position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);*/
}

.carousel-caption-fix p{
	color: black;
}

.carousel{
	border: 1px solid #EEE;
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
}

.thumbnail-fix {
	text-decoration: none;
	color: black;
}

.thumbnail-fix h3 {
	color: #337ab7;
}

.thumbnail-fix:hover {
	border: 1px solid #AAA !important;
}

.subtitle{
	display: block;
	text-align: center;
	font-style: italic;
}

.tag {
	font-weight: bold;
	background-color: white;
	padding: 2px 5px;
	position: absolute;
	top: 10px;
	left: 10px;
	box-shadow: 1px 1px 2px black;
}

.tag::after{
	content: '';
    display: block;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-color: black;
    border-width: 6px 0 0 6px;
    position: absolute;
    top: 100%;
    left: 0;
}

.tag-2{
	margin-top: 30px;
}

.tag-3{
	margin-top: 60px;
}

.tag-4{
	margin-top: 90px;
}


/*participantes-card*/

.card{
	border: 1px solid #DDD;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 30px;
	min-height: 200px;
}

.card > img {
	width: 64px;
	height: 64px;
}

.card > a > img{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.caption h3{
	text-align: center;
}
.row{
	margin-top: 15px;